.benefits-section {
    background-color: $warm-black;
    padding: 5rem 0;
    width: 100%;
    min-width: 320px;
    position: relative;
    &__icon {
        display: inline-block;
        width: 45px;
        height: 24px;
        background-image: url("../assets/icons/batata.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: calc(0% - 12px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }
    &__title {
        color: $just-white;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0;
    }
    &__paragraph {
        color: $greysoft;
        text-align: center;
        font-size: 1.4rem;
    }
}

.grid-benefits {
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        max-width: 700px;
        margin: 0 auto;
    }
}

.card-benefits {
    color: $greysoft;
    background-color: $warm-black-soft;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 320px;
    min-height: 152px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    &__icon {
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
    }
    .eye {
        background-image: url("../assets/icons/eye.svg");
    }
    &__title {
        color: $just-white;
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0;
        padding-top: 2rem;
    }
    &__paragraph {
        margin: 0;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
    }
}