.exchange-rates {
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: #323137;
    min-width: 320px;
    &__img {
        display: block;
        margin: 0 auto;
        @include desktop {
            width: 350px;
        }
    }
}

.content-info {
    &__title {
        font-weight: 700;
        font-size: 2.4rem;
        text-align: center;
        color: $just-white;
    }
    &__paragraph {
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        color: $greyhard;
    }
}


/*content info */

.container-flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        max-width: 800px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
}

.card {
    width: 280px;
    margin: 0 auto;
    &__title {
        text-align: center;
        color: $bitcoin-orange;
    }
}

.content-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 30rem;
    max-width: 300px;
    margin: 0 auto;
    background: #39363d;
    -webkit-box-shadow: -5px 5px 15px 1px rgba(189, 177, 177, 0.879);
    box-shadow: -5px 5px 15px 1px rgba(18, 16, 15, 0.386);
    border-radius: 10px;
    color: $just-white;
    margin-bottom: 2rem;
    .item {
        position: relative;
        &__name {
            padding-left: 4rem;
        }
        &__icon {
            position: absolute;
            left: 10px;
            width: 20px;
            height: 25px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .bitcoin {
            background-image: url("../assets/icons/bitcoin-icon-info.svg");
        }
        .ethereum {
            background-image: url("../assets/icons/ethereum.svg");
        }
        .ripple {
            background-image: url("../assets/icons/ripple.svg");
        }
        .stellar {
            background-image: url("../assets/icons/stellar.svg");
        }
    }
}