html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 65.2%;
    height: 100vh;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}


/* body */

body {
    line-height: 4rem;
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    background-color: $on-white;
}

// temporal
// font-family: 'DM Sans', sans-serif;
//  regular 400 , medium  500 , bold 700
// --------------
// font-family: 'Inter', sans-serif;
//  regular 400 , medium  500 , bold 700

/******************************************Global Styles**********************************/

.text-center {
    text-align: center;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    //   overflow: hidden;
}

img {
    max-width: 100%;
    display: inline-block;
}